* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body *{
    font-family:"inter" sans-serif;
    line-height: 160%;
}
body {
    background-image: url(./ing/Fundo.jpg);
    background-position:top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
    
}
header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;

}
header div:hover {
    transform: scale(1.1);

}

header img {
    width: 100%;
    border-radius: 50%;   
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    
}

ul {
    list-style: none;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad);
    padding-top: 4px;
    border-radius: 10px;
    
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
 }

 section ul {
     display: flex;
     gap: 16px;
     margin-top: 24px;
     flex-wrap: wrap ;
 }
 section ul li {
     transition: transform .3s;
    }
 section ul li:hover {
     transform: scale(1.1);
 }

 section p {
     letter-spacing: -0.18px;
     color: #a1a1aa
 }

 .games-list img {
     width: 90px;
     border-radius: 8px;
 }

 .channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54;
 } 
header div {
    animation: fromTop .7s 2s backwards ;
    
}
main section {
    animation: fromBottom 7s backwards;
}

main section:nth-child(1){
    animation-delay: 0s;
}

main section:nth-child(2){
    animation-delay: .3s;
    
}
main section:nth-child(3){
    animation-delay: .6s;
}


 
 /* animation */ 


 @keyframes fromTop {
     From {transform: translateY(-30px);
         opacity: 0;
    
    }
    
     to {
        opacity: 1; 
        transform: translateY(0);}
 }

 @keyframes fromBottom {  
   
    From {transform: translateY(30px);
    opacity: 0;
}

to {
   opacity: 1; 
   transform: translateY(0);}
}